{% extends 'base.html' %}

{% block title %}
Listagem de Vendas
{% endblock title %}

{% block content %}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Listagem de Vendas</h3>
    </div>

    <div class="box-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Ordem</th>
                    <th>Cliente</th>
                    <th>Valor</th>
                    <th>Vendedor</th>
                    <th>Data</th>

                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>

                {% for venda in vendas %}
                <tr>
                    <td> {{venda.id}} </a> </td>
                    <td>{{venda.cliente}}</td>
                    <td>{{venda.total}}</td>
                    <td>{{venda.vendedor}}</td>
                    <td>{{venda.data_venda}}</td>
                    <td> <a href="{% url 'gerar_pdf_Venda' venda.id %}">Visualizar </a></td>
                
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <hr>
        <a href="{% url 'cadastrar_venda' %}">
            <button class="btn btn-primary">Cadastrar Venda</button>
        </a>
    </div>

</div>

{% endblock content %}

