<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Relatório de pedidos</title>
</head>
<body>

<h1>Relatório de Venda</h1>

<table>
    <thead>
        <tr>
            <th>Cliente: {{venda.cliente}} </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Valor: {{venda.total}} </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Numero da Ordem: {{venda.id}} </th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Vendedor: {{venda.vendedor}}</th>
        </tr>
    </thead>
    <thead>
        <tr>
            <th>Desconto: {{venda.desconto}}</th>
        </tr>
    </thead>

</table>

</body>
</html>