{% extends "base.html" %}

{% block title %}
  Cliente
{% endblock title %}

{% block content %}
  
<section class="content">

    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="box box-primary">
          <div class="box-body box-profile">

            <h3 class="profile-username text-center">{{fornecedor.nome_fantasia}}</h3>

            <p class="text-muted text-center">{{fornecedor.cnpj}}</p>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>Email</b> <a class="pull-right">{{fornecedor.email}}</a>
              </li>
              <li class="list-group-item">
                <b>Contato</b> <a class="pull-right">{{fornecedor.telefone}}</a>
              </li>
              
            </ul>            
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

        <!-- About Me Box -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Produtos</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <strong><i class="fa fa-cubes"></i>Frequencia de entradas</strong>

            <p class="text-muted">
              Lista de produtos
            </p>

            
        </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
      <div class="col-md-9">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">            
            <li class="active"><a href="#timeline" data-toggle="tab">Historico</a></li>
            
          </ul>
          <div class="tab-content">
             
            <!-- /.tab-pane -->
            <div class="active tab-pane" id="timeline">
              <!-- The timeline -->
              <ul class="timeline timeline-inverse">
                <!-- timeline time label -->

                <!-- Inicio -->
                {% for compras in historico %}
                  <li class="time-label">
                        <span class="bg-red">
                          {{compras.data_venda}}
                        </span>
                  </li>
                  <!-- /.timeline-label -->
                  
                  <!-- timeline item -->
                  <li>
                    <i class="fa fa-user bg-aqua"></i>

                    <div class="timeline-item">
                      <span class="time">{{compras.total}}</span>

                      <h3 class="timeline-header no-border"><a>Codigo Fabricante: {{compras.codigo_fabricante}}</a>, Produto: {{compras.nome}}
                      </h3>
                    </div>
                  </li>
                  {% endfor %}
                <!-- Fim -->
                
                
                <li>
                  <i class="fa fa-clock-o bg-gray"></i>
                </li>
              </ul>
            </div>


            

          <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

  </section>

{% endblock content %}