{% extends 'base.html' %}

{% load filtros%}

{% block title %}
Exclusão de Produto
{% endblock title %}


{% block content %}

    <div class="box box-primary">
        <div class="box-headers with-border">
            <h3 class="box-title"> Tem certeza que deseja excluir esse Produto ?</h3>
        </div>
        <div class="box-body">
            <h5>Nome: {{produto.nome}}</h5>
            <h5>Nome Fornecedor: {{produto.fornecedor}}</h5>
            <h5>Preço: {{produto.preco}}</h5>
            <h5>Veiculo: {{produto.veiculo}}</h5>
            <h5>Peso: {{produto.peso}}</h5>
        </div>
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Remover</button>
        </form>

    </div>

{% endblock content %}